.wrapper{
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: .2rem .4rem;
    margin: .2rem .4rem;
    border: .1rem solid #5a5a5a;
    border-radius: .5rem;
}
.wrapper > div{
    display: flex;
    justify-content: center;
    padding: .2rem .4rem;
}
.wrapper > div input{
    width: 75%;
}
.wrapper > div input:focus{
    border: .1rem solid #1e90f1;
    outline: none;
}

.wrapper .title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}
.wrapper .helper{
    font-size: .8rem;
}

.wrapper .btn{
    background: none;
    padding: .2rem;
    width: 8rem;
    border: .1rem solid #1e90f1;
    border-radius: .5rem;
    outline: none;
    cursor: pointer;
}
.wrapper .btn:hover{
    background: #1e90ff;
    color: #fff;
}